.main-nav {
    max-width: 1300px;
    margin: 0 auto;

    background-color: aliceblue;
    padding: 1rem 0rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    &__link {
        font-size: 1.2rem;
    }

    &__link:first-child {
        flex: 1;
    }
    &__link:nth-child(n + 3) {
        margin-left: 2rem;
    }
}
